@import url("https://fonts.googleapis.com/css2?family=Baumans&family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  margin: auto;
  max-width: 800px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  text-align: center;
  margin: auto;
  max-width: 800px;
  padding: 10px;
}

.header h1 {
  font-size: 4em;
  font-family: "Agbalumo", sans-serif;
  color: #09bcf8;
}

h3 {
  font-family: "Saira", sans-serif;
  font-size: 2em;
  font-weight: normal;
}

.operatorBtns {
  background-color: rgb(232, 232, 232);
  padding: 20px;
  margin-bottom: 15px;
}

.difficultyBtns {
  background-color: rgb(214, 214, 214);
  padding: 20px;
  margin-bottom: 15px;
}

.startBtn {
  background-color: rgb(192, 192, 192);
  padding: 20px;
  margin-bottom: 15px;
}

.opBtns,
.difBtns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.button {
  width: 23%;
}

.difButton {
  width: 32%;
}

.maths {
  background-color: white;
  border: solid 8px white;
  font-size: 3em;
  text-align: center;
  border-radius: 3px;
  transition: background-color 1s ease;
}

.mathsCorrect {
  background-color: white;
  border: solid 8px rgb(23, 229, 37);
  padding: 10px;
  font-size: 3em;
  text-align: center;
}

.mathsIncorrect {
  background-color: white;
  border: solid 8px rgb(229, 23, 23);
  padding: 10px;
  font-size: 3em;
  text-align: center;
  transition: background-color 1s ease;
}

button {
  color: #fff;
  background-color: #09bcf8;
  box-shadow: inset -14px -15px 38px -2px rgba(0, 157, 209, 0.54);
  border: solid 1px rgb(9, 188, 248);
  font-family: "Saira", sans-serif;
  font-size: 1.1em;
  border-radius: 3px;
  width: 100%;
  height: 45px;
}

.operatorSelected,
.operatorButton {
  font-family: "Major Mono Display", monospace;
  font-size: 4.1em;
  height: 80px;
}

.operatorSelected,
.selected {
  color: #fff;
  background-color: #00749a;
  box-shadow: inset -14px -15px 38px -2px rgba(5, 99, 128, 1);
  border: solid 1px rgb(0, 116, 154);
}

.submitResult {
  background-color: rgb(167, 167, 167);
  padding: 22px;
}

.inputForm {
  text-align: center;
}

input {
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(255, 255, 255);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Saira", sans-serif;
  font-size: 2.5em;
  padding-left: 10px;
  border-radius: 3px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 1em;
    padding-top: 5px;
  }
  .input {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
  }
}
